<footer>
  <div class="footer-container container">
    <div class="content">
      <h3>關於六角西餐廳</h3>
      <p>
        Curabitur lobortis id lorem id bibndum. 
        Ut id consectetur magna. Quisque volutpat augue enim, 
        pulvinar lobortis nibh lacinia at. 
      </p>
    </div>

    <div class="content">
      <h3>聯絡方式</h3>
      <ul>
        <li>高雄市中正五路到底</li>
        <li>+886 886 886</li>
        <li>service@hexschool.com</li>
      </ul>
    </div>

    <div class="content">
      <h2>六角西餐廳</h2>
      <i class="fa-brands fa-square-google-plus"></i>
      <i class="fa-brands fa-square-twitter"></i>
      <i class="fa-brands fa-square-facebook"></i>
    </div>
  </div>
</footer>